<mat-card>
  <mat-card-title>
    {{ employee.lastname }} {{ employee.firstname }}
  </mat-card-title>
  <mat-card-content>
    <h3>Missions accomplies :</h3>
    <ul>
      <li *ngFor="let mission of employee.missions">{{ mission }}</li>
    </ul>
    <h3>Salaire de début : {{ employee.firstSalary }}€</h3>
    <p><u>Historique des augmentations : </u></p>
    <ul>
      <li *ngFor="let increase of employee.increase">+ {{ increase }}€</li>
    </ul>
    <h3>Salaire actuelle : {{ getSalary(employee.firstSalary, employee.increase) }}€</h3>
    <button mat-button class="green">Edit</button>
    <button mat-button class="red">Delete</button>
  </mat-card-content>
</mat-card>
