<div class="body">
  <mat-card>
    <mat-card-title>
      Liste des employés
    </mat-card-title>
    <mat-card-content>
        <table mat-table [dataSource]="employees">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef> Lastname </th>
          <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef> Firstname </th>
          <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
        </ng-container>

        <ng-container matColumnDef="show" sticky>
          <th mat-header-cell *matHeaderCellDef> Show </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button routerLink="/employee-detail/{{element.id}}"><mat-icon>person</mat-icon></button>
          </td>
        </ng-container>  
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div class="pop-form"><button mat-button class="green" (click)="displayForm()">Nouvel employé</button></div>

      <mat-card *ngIf="creationMode">

        <mat-card-title>Nouvel employee</mat-card-title>
        <br>

        <form [formGroup]="creationForm"  (ngSubmit)="onSubmit()">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Id" type="number" formControlName="id">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nom" type="text" formControlName="lastname">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Prénom" type="text" formControlName="firstname">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Salaire de départ" type="number" formControlName="firstSalary">
          </mat-form-field>
          <br>
          <button mat-button type="submit">Créer</button>
        
        </form>

      </mat-card>

    </mat-card-content>
    

     
  </mat-card>
</div>